################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PollQuestionnaire.UI.Web/packages
/PollQuestionnaire.UI.Web/PollQuestionnaire.UI.Web/bin
