@{
    ViewBag.Title = "Survey";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/survey/css")

<div id="surveyElement"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/survey")

    <script>
        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
        Survey.Survey.cssType = "bootstrap";
        //var survey = new Survey.Model({
        //    questions: [
        //         { name: "name", type: "text", title: "Please enter your name:", placeHolder: "Jon Snow", isRequired: true },
        //         { name: "birthdate", type: "text", inputType: "date", title: "Your birthdate:", isRequired: true },
        //         { name: "color", type: "text", inputType: "color", title: "Your favorite color:" },
        //         { name: "email", type: "text", inputType: "email", title: "Your e-mail:", placeHolder: "jon.snow@nightwatch.org", isRequired: true, validators: [{ type: "email" }] }
        //    ]
        //});

        var storageManager = new dxBroker();

        storageManager.getActiveSurveys(function (data) {
            if (data != undefined && Array.isArray(data) && data.length > 0) {
                alert(JSON.stringify(data[0]));

                var survey = new Survey.Model({ surveyId: data[0].PublishId })
                $("#surveyElement").Survey({ model: survey });
            }
        });
    </script>
}
