
<head>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("/Scripts/surveyjs/survey-jquery.js")"></script>
</head>

<body>
    <h2>This should be a survey demo</h2>

    <div id="surveyElement">

    </div>

</body>

<script>
    Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
    Survey.Survey.cssType = "bootstrap";
    var survey = new Survey.Model({
        questions: [
            {
                type: "radiogroup", name: "car", title: "What car are you driving?", isRequired: true,
                colCount: 4, choices: ["None", "Ford", "Vauxhall", "Volkswagen", "Nissan", "Audi", "Mercedes-Benz", "BMW", "Peugeot", "Toyota", "Citroen"]
            }
        ]
    });

    survey.onComplete.add(function () { alert(JSON.stringify(survey.data)) });

    $("#surveyElement").Survey({ model: survey });
</script>