@{
    ViewBag.Title = "Editor";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/surveyEditor/css")

<div id="surveyEditorContainer"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/surveyEditor")

    <script>
        var editorOptions = { showEmbededSurveyTab: true }; //see examples below
        var survey = new SurveyEditor.SurveyEditor("surveyEditorContainer", editorOptions);

        var storageManager = new dxBroker();

        //set function on save callback
        survey.saveSurveyFunc = function () {
            storageManager.createNewSurvey('myNewSurvey', function (newSurvey) {
                storageManager.changeSurvey(
                    newSurvey.Id,
                    survey.text,
                    function (status) { alert('Survey has been saved.'); });
            });
        };

    </script>
}